@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jacquard+12+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');

li {
    display: inline;
}

main {
    padding: 20px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #000000;
}

.logo {
  margin-top: 20px;
  max-width: 15rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

#log{
    background-image: url(../imagenes/arte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}


.tam{
    margin-top: 125px;
    font-size: 40px;
}

#tip{
    color: white;
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
#conocenos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr  1fr 1fr ;
    margin-left: 155px;
    margin-right: 155px;
    margin-top: 55px;
}
#parrafo1{ 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-top: 28px;
    font-size: 25px;
}
#imagenuno{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start:1;
    grid-row-end: 5;
    margin-top: 155px;
}
#title1{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    margin-top: 50px;
}
.container {
    background-color: #000;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 155px;
    padding-bottom: 155px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 15px;
  }
  .card img {
    width: 100%;
    max-height: 250px; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0; 
  }
  .button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  .card:nth-child(3n-1),
  .card:nth-child(3n) {
    grid-column: span 2;
  }
.section-title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 50px;
      border-bottom: 2px solid #007bff;
      padding-bottom: 5px;
      color: wheat;
    }
.sub{
    font-size: 32px;
}
.txt{
    font-size: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0px;
  }
  .item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  .item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; 
  }
  .item p {
    margin-top: 10px;
  }

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  .item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    flex: 1 1 200px; 
    max-width: calc(33.33% - 20px); 
  }
  .item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; 
  }
  .item p {
    margin-top: 10px;
  }
#imag1{
    background-image: url(../imagenes/carp/art1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
.container1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card2 {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f0f0f0;
}

.card2 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card2 h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
#event{
  margin-top: 280px;

  font-size: 40px;
}
#card3{
  margin-left: 145px;
  height: 280px;
}
.card2 p {
  font-size: 16px;
  margin-bottom: 10px;
}
.button2{
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
#imag2{
    background-image: url(../imagenes/carp/art2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag3{
    background-image: url(../imagenes/carp/art3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag4{
    background-image: url(../imagenes/carp/art4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag5{
    background-image: url(../imagenes/carp/art5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag6{
    background-image: url(../imagenes/carp/art6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag7{
    background-image: url(../imagenes/carp/art7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag8{
    background-image: url(../imagenes/carp/art8.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag9{
    background-image: url(../imagenes/carp/art9.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
#imag10{
    background-image: url(../imagenes/carp/art10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
}
.item {
    position: relative;
  }
  
  .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .item:hover::before,
  .item:hover p {
    opacity: 1; 
  }
  .pa{
    font-size: 25px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .col{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr  1fr 1fr ;
    color: #f0f0f0;
    background-color: #000;
    padding-bottom: 58px;
  }
  #parrafo2{ 
    margin-left: 150px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-top: 28px;
    font-size: 25px;
}

#title2{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 150px;
}
  .image{
    margin-right: 68px;
  }
  
form {
    width: 400px;
    padding: 20px;
    margin-left: 500px;
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #letr{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  form label {
    font-weight: bold;
  }
  
  form input {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  footer{
    background-color: #592C28;
    margin-top: 58px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
}
#re{
    margin-left: 150px;
    /* padding-top: 50px; */
    color: white;
}
#redes{
    margin-left: 550px;

}
.redes{
    margin-left: 15px;
}
#frm{
    margin-left: 125px;
    padding-top: 125px;
    font-size: 28px;
}
@media (min-width: 280px) and (max-width: 490px) {
  .card{
    margin-left: 0px;
    width: 270px;
  }

.abrir-menu,
.cerrar-menu {
  margin-top: 20px;
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu {
    color: #1c1c1c;
    
}

.cerrar-menu {
    color: #ececec;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5); */
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    flex-direction: column;
    align-items: end;
}

.nav-list li a {
    color: #ecececec;
}

#imagenuno{
  grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start:0;
    grid-row-end: 2;
    margin-top: 155px;
    margin-left: 40px;
    height: 250px;
    width: 260px;
}
#title1{
  grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:4;
    grid-row-end: 2;
    margin-left: 30px;
}
#parrafo1{
  grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:8;
    grid-row-end: 10;
    margin-left: 35px;
}
#conocenos{
  margin-left: 0px;
}
.container {
  padding-left: 30px;
  grid-template-columns: repeat(1, 1fr);
}
.item{
  padding: 145px;
}
#title2{
  grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:4;
    grid-row-end: 2;
    margin-left: 25px;
    font-size: 45px;
}
.card2 {
  width: 100%;
}
#parrafo2{
  grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:8;
    grid-row-end: 10;
    margin-left: 25px;
}
#frm{
  margin-left: 20px;
  padding-top: 125px;
  font-size: 28px;
}
form {
  width: 300px;
  padding: 30px;
  margin-left: 15px;
  margin-top: 150px;
  margin-bottom: 50px;
  background-color: #592C28;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#re{
  margin-left: 10px;
  font-size: 15px;
}
#redes{
  margin-left: 15px;
}
.redes{
  margin-top: 20px;
}
footer{
  display: block;
}
#card3{
  margin-left: 15px;
}
}
@media (min-width: 491px) and (max-width: 570px) {
  .card{

    width: 350px;
  }
  .logo{
    margin-left: 40px;
    font-size: 50px;
  }
  .card2 {
    width: 45%;
  }
  
  #tip{
    font-size: 65px;
  }
 
  #imagenuno{
    grid-column-start: 0;
      grid-column-end: 1;
      grid-row-start:0;
      grid-row-end: 2;
      margin-top: 155px;
      margin-left: 80px;
      height: 350px;
      width: 350px;
  }
  #title1{
    grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start:4;
      grid-row-end: 2;
      margin-left: 85px;
  }
  #parrafo1{
    grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start:8;
      grid-row-end: 10;
      margin-left: 85px;
  }
  #conocenos{
    margin-left: 0px;
  }
  .container {
    padding-left: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
  .item{
    padding: 255px;
  }
  #title2{
    grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start:4;
      grid-row-end: 2;
      margin-left: 50px;
      font-size: 47px;
  }
  #parrafo2{
    grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start:8;
      grid-row-end: 10;
      margin-left: 50px;
  }
  #frm{
    margin-left: 35px;
    padding-top: 125px;
    font-size: 30px;
  }
  form {
    width: 380px;
    padding: 30px;
    margin-left: 80px;
    margin-top: 150px;
    margin-bottom: 80px;
    background-color: #592C28;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #re{
    margin-left: 110px;
    font-size: 15px;
  }
  #redes{
    margin-left: 110px;
  }
  .redes{
    margin-top: 20px;
  }
  footer{
    display: block;
  }

  #card3{
    margin-left: 10px;
    padding-bottom: 120px;
    padding-right: 0px;
    padding-left: 0px;
  }
  #event{
    margin-top: 10px;
    margin-left: 110px;
    margin-right: 28px;
  }
}
/* @media  (min-width: 891px){
  header{
    width: 1050px;
    background-color: #000000;
    display: flex;
    height: 180px;
}
{
  margin-top: 38px;
  margin-left: 255px;
}
#tip{
  font-size: 95px;
}
#log{
  background-image: url(../imagenes/arte.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 1050px;
  height: 600px;
}

#imagenuno{
  grid-row-start:3;
  grid-row-end: 3;
  height: 400px;
  width: 400px;
}
#title1{
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 70px;
}
#parrafo1{
  grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 10;
    margin-left: 50px;
    font-size: 40px;
}
#conocenos{
  margin-left: 50px;
  margin-right: 0px;
}
.container {
  width: 800px;
  padding-left: 50px;
  grid-template-columns: repeat(2, 1fr);
}
.grid-container{
  width: 1050px;
}
.sub{
  font-size: 45px;
}
.txt{
  font-size: 32px;
}
.button{
  font-size: 35px;
}
.item{
  padding: 150px;
}
#title2{
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 70px;
}
.col{
  width: 1050px;
}
.pa{
  font-size: 70px;
}
#parrafo2{
  grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 10;
    margin-left: 50px;
    font-size: 40px;
}
#frm{
  margin-left: 35px;
  padding-top: 125px;
  font-size: 50px;
}
form {
  width: 640px;
  padding: 80px;
  margin-left: 150px;
  margin-top: 150px;
  margin-bottom: 80px;
  background-color: #592C28;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#letr{
  font-size: 38px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form input {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 30px 20px;
  font-size: 26px;
}
#re{
  margin-left: 210px;
  font-size: 35px;
}
#redes{
  margin-left: 200px;
}
.redes{
  margin-top: 30px;
  
}
.section-title{
  font-size: 60px;
}
#fecha_exposicion{
  font-size: 25px;
}
footer{
  width: 1050px;
  display: block;
}
#wa{
  height: 60px;
  width: 60px;
}
#insta{
  height: 60px;
  width: 60px;
}
#face{
  height: 60px;
  width: 60px;
}
#redes{
  height: 60px;
  width: 60px;
}
} */
@media (min-width: 768px)
{
  .menu a {
    padding: 20px;
    color: var(--white);
    font-size: 18px; 
}
  .header{
    display: flex;
  }
  .menu {
    display: inline-block;
    
}
    .nav
    {

        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        margin-top: 0px;
        margin-right: 0px;
    }

    .menu li
    {
        display: block;
        float: left;
    }

    .menu a:hover
    {
        background-color: transparent;
        color: var(--green-light)
    }

    .hamb
    {
        display: none;
    }

  }
